<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- use bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- customized style -->
    <link rel="stylesheet" href="/css/homeButton.css">
    <link rel="stylesheet" href="/css/background.css">
    
    <title>MyCamp</title>
</head>

<body class="d-flex flex-column bgimg">
    <%- include("./partials/navbar") %>
    <main class="container mt-3">
        <div class="row justify-content-center vh-100">
            <div class="col col-10 align-self-center text-center">
                <h1 id="welcomeHeading">Welcom to My Campgrounds</h1>
                <a class="btn btn-success mt-5" id="entryButton" href="/campgrounds">visit all camps</a>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>

    <script src="/js/bootstrap.js"></script>
</body>
</html>