<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>My Camp</h1>
    <ul>
        <% for (data of firstData) {%>
            <li>title:<%=data.title%></li>
            <li>place:<%=data.price%></li>
            <li>description:<%=data.description%></li>
            <li>location:<%=data.location%></li>
        <% } %>
    </ul>
</body>
</html>