<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= title %></h1>
    <div>
        <ul>
            <li>price: <%= price %></li>
            <li>about: <%= description %></li>
            <li>location: <%= location %></li>
        </ul>
    </div>
</body>
</html>