<% layout('./layouts/boilerplate')%>
    <h1>My Camp index</h1>
    <a href="/">Home</a>
    <a href="/campgrounds/new">add</a>
    <ul>
        <% let i=1;for (camp of camps) {%>
            <li># <%=i%></li>
            <li><b><a href="/campgrounds/<%=camp._id%>"><%=camp.title%></a></b></li>
        <% i++} %>
    </ul>
