<% layout('./layouts/boilerplate')%>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Add a new camp</h1>
            <form action="/campgrounds" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                <!-- enctype for multer to upload the image files -->
                <label class="form-label mt-3" for="title">Title</label>
                <input class="form-control border-dark-subtle" type="text" id="title" name="campground[title]" required>
                <div class="invalid-feedback">
                    required
                </div>
                
                <label class="form-label mt-3" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text border-dark-subtle">$</span>
                    <input type="text" class="form-control border-dark-subtle" id="price" name="campground[price]" required>
                    <div class="invalid-feedback">
                        required
                    </div>
                </div>
                
                <label class="form-label mt-3" for="description">Description</label>
                <div class="form-floating">
                    <textarea class="form-control border-dark-subtle" id="description" name="campground[description]" required></textarea>
                    <label for="description">description</label>
                    <div class="invalid-feedback">
                        required
                    </div>
                </div>
                
                <label class="form-label mt-3" for="location">Location</label>
                <input class="form-control border-dark-subtle" type="text" id="location" name="campground[location]" required>
                <div class="invalid-feedback">
                    required
                </div>
                
                <div>
                    <label class="form-label mt-3" for="imageUpload">Upload photos (max:5 pcs)</label>
                    <input type="file" id="imageUpload" name="photoFile" multiple/>
                </div>

                <button class="btn btn-success mt-2 float-end">Add campground</button>
            </form>
        </div>
    </div>
