<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Camp</title>
</head>
<body>
    <h1>Add a new camp</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Title</label>
        <input type="text" id="title" name="campground[title]"><br>
        <label for="price">Price</label>
        <input type="text" id="price" name="campground[price]"><br>
        <label for="description">Description</label>
        <input type="text" id="description" name="campground[description]"><br>
        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]"><br>
        <button>submmit</button>
    </form>
    <a href="/campgrounds">back</a>
</body>
</html>