<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-warning" href="/">MySQL miniLogin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <div class="navbar-nav">
          <a class="nav-link active text-light" href="/">Homepage</a>
          <a class="nav-link text-light" href="/secret">Secret</a>
      </div>
      <div class="navbar-nav">
          <a class="nav-link text-light" href="/logout">Log out</a>
        <a class="nav-link text-light" href="/register">Register</a>
        <a class="nav-link text-light" href="/login">Login</a>
      </div>
    </div>
  </div>
</nav>