<% layout('./layouts/boilerplate')%>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">User Login</h1>
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <label class="form-label mt-3" for="username">Username</label>
                <input class="form-control border-dark-subtle" type="text" id="username" name="username" required>
                <div class="invalid-feedback">
                    required
                </div>
                
                <label class="form-label mt-3" for="password">Password</label>
                <input class="form-control border-dark-subtle" type="password" id="password" name="password" required>
                <div class="invalid-feedback">
                    required
                </div>
                <button class="btn btn-success mt-2 float-end">Login</button>
            </form>
        </div>
    </div>
