<% layout('./layouts/boilerplate')%>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Register a user</h1>
            <form action="/register" method="POST" class="needs-validation" novalidate>
                <label class="form-label mt-3" for="username">Username</label>
                <input class="form-control border-dark-subtle" type="text" id="username" name="user[username]" required>
                <div class="invalid-feedback">
                    required
                </div>
                
                <label class="form-label mt-3" for="email">E-mail</label>
                <input class="form-control border-dark-subtle" type="email" id="email" name="user[email]" required>
                <div class="invalid-feedback">
                    required
                </div>
                
                <label class="form-label mt-3" for="password">Password</label>
                <input class="form-control border-dark-subtle" type="password" id="password" name="user[password]" required>
                <div class="invalid-feedback">
                    required
                </div>
                <button class="btn btn-success mt-2 float-end">Register</button>
            </form>
        </div>
    </div>
